header {
    background: white;
    width: 100%;
    min-height: 15vh;
    margin: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
    border: none;
 
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 15vh;
    align-items: center;

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    width: 100%;
    min-height: 15vh; 
    background-color: white;
    padding-right: 0;
    margin: 0;
    padding-left: 0;
}
.nav_button {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    margin-right: 0;
    padding-right: 0;
}

.wrapper_nav {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ff8a00,#e52e71);
    padding-right: 3px;
    padding-left: 3px;
}

.pages {
    width: 50%;  
    min-height: 15vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #ff8a00,#e52e71);
    padding-left: 3px;
}

.nav_button {
    font-family: "Comic Sans MS";
    display: flex;
    justify-content: center;
}

a:link {
    text-decoration: none;
    color: hsl(0, 4%, 30%);
    text-transform: uppercase;

}

.wrapper_header {
    background: linear-gradient(to right, #ff8a00,#e52e71);
    width: 100%;
    position: relative;
    min-height: 15vh;
    padding-bottom: 3px;
    margin: 0;
    padding-right:0;
}

html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    width: 100%;
    min-height: 90vh;
    margin: 0;
    
}


.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
    padding-right: 20px;
}

.social-media {
    display: flex;
}


.gadgets:hover{
    transform: scale(1.5);
    color: white;
   
}

a:hover{
    color:#e52e71
}

a{
    color: black;
}

h1 {
    font-family: "Comic Sans MS";
    background: -webkit-linear-gradient( #ff8a00, #e52e71);
    font-size: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}

h2 {
    font-family: "Comic Sans MS";
    color: hsl(0, 3%, 40%);
   

}

p {
    font-family: "Comic Sans MS";
    color: hsl(0, 3%, 30%); 
    padding: 0;
    margin: 0;
    text-align: center;
    width: 90%;
    margin-bottom: 10px;
}


.likes {
    font-family: "Comic Sans MS";
   
}

.fa-cheese {
    color: #FFCC33;
}

.food {
    border-top: 1px solid #FFCC33;
    padding-top: 7px;
    padding-bottom: 7px;
}

.fa-film {
    color: hsl(0, 56%, 34%);
}

.netflix { 
    border-top: 1px solid hsl(0, 56%, 34%);
    padding-top: 7px;
    padding-bottom: 7px;
}

.likes {
    color: hsl(0, 3%, 30%);
    width: 250px;
}

.h3 {
    font-family: "Comic Sans MS";
    color: hsl(0, 3%, 30%);
    font-weight: 600;
}

.fa-music {
    color: #33CCCC;
}

.music {
    border-top: 1px solid #33CCCC;
    padding-top: 7px;
    padding-bottom: 7px;
}

.fa-umbrella-beach {
    color: #0099FF;
}

.holidays {
    border-top: 1px solid #0099FF;
    padding-top: 7px;
    padding-bottom: 7px;
}

.fa-ice-cream {
    color: #FF0066;
}

.watermelon {
    border-top: 1px solid #FF0066;
    padding-top: 7px;
    padding-bottom: 7px;
}



#img {
    width: 50%;
    height: 50%;
    border-radius: 10%;
    margin: auto;
    display: block;

}


h4 {
    text-align: center;
    font-family: "Comic Sans MS";
    color: hsl(0, 3%, 40%);
}

/*contact CSS*/

.message { 
    text-align: center;
    margin-top:0;
    padding: 0;
    
}

input {
    border-radius: 40px;
    margin: 2px;
    text-indent: 10px;
    height: 20px;
    width: 350px;
    border: none;
    
}

textarea {
    height: 100px;
    text-indent: 5px;
    border: none;
    border-radius: 10px;
    width: 350px;
    margin: 2px;

}

input:focus, textarea:focus, button:focus {
    outline: none;
}

.wrapper {
    border-radius: 40px;
    max-width: 350px;
    max-height: 27px;
    padding: 0;
    position: relative;
    background: linear-gradient(to right, #ff8a00,#e52e71);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;  

}

.wrapper_textarea {
    max-height: 200px;
    border-radius: 10px;
}
.wrapper_button{
    display: relative;
    padding: 2px;
    max-height: 60px;
    width: 100px;
    align-self: center;
    

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: block;
    font-family: "Comic Sans MS";
    font-size: 20px;
    border: none;
    color: hsl(0, 4%, 43%);
    border-radius: 40px;
    max-height: 40px;
    width: 100px;
    cursor: pointer;
    
}


.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

.pic-con {
    height: 33.33%;
    width: 33.33%;
    margin-bottom: 0;
    padding-bottom: 0;
}

    img {
    height: 200px;
    width: 150px;
    display: block;
    overflow: hidden;
    margin: auto;
}
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }
       
.para-con {
    padding-bottom: 0;
    margin-bottom: 0;
}
.flex-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 750px) {
    .mother-con {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container1 {
        width: 50vw;
        order: 1;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
        margin-right: 0;
    }
    #img {
        width: 70%;
    }
    .container2 {
        width: 50vw;
        margin: auto;
    }    
    .flex-container {
        display: flex;
        flex-direction: row;
        align-self: center;
        min-height: 100%;
        justify-content: space-around;
        min-width: 100%;
        margin-top: 100px;
     
    }
    .flex-item1 {
        width: 40vw;
        margin-left: 200px;
       
    }

    .message {
        width: calc(40vw - 100px);
        margin-left: 0;
        margin-right: 300px;
        
       
    }
    .media-footer {
        transform: scale(0);
    }
}


@media (min-width: 750px) and (max-width: 1000px) {
   .flex-container {
       justify-content: space-between;
   }
   .flex-item1{
       margin-left: 40px;
   }
   .message {
       margin-right: 100px;
   }
   .media-footer {
       transform: scale(0);
   }
}

@media (max-width: 450px) {
    input, textarea, .wrapper{
        max-width: 250px;
    }

    .para-con {
        width: 80%;
    }

    .para-con > h2 {
        text-align: center;
    }
    .nav {
        flex-direction: column;
    }
    .pages {
        width: 100%;
        padding-left: 0;
    }
    .media {
        transform: scale(0);
        width: 0%;
    }
    .wrapper_nav {
        padding-bottom: 3px;
        padding-top: 3px;
        padding-right: 0;
        padding-left: 0;
    }
    .media-footer {
       margin-left:0;
       padding-left: 0;
       margin-top: 100px;
    }
}

@media (min-width: 450px) and (max-width: 750px) {
    .media-footer{
        transform: scale(0);
    }
}

/*Home page CSS*/

.index-footer {
    align-self: center;
}

.card {
    min-height: 45vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    
 
}

.img-home {
    height: 75%;
    width: 50%;
    
   
}

.card-wrapper {
    min-height: 45vh;
    margin: 30px;
    padding: 3px;
    background: linear-gradient(to right, #ff8a00,#e52e71);
    width: 80vw;
    
}
.card-header {
    font-family: "Comic Sans MS";
    padding: 10px;
    color: hsl(0, 3%, 30%);
}

.para-home {
    padding-top: 10%;
    
}

.card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.para-home2 {
    padding-top: 10%;
}

.card-wrapper:hover {
    box-shadow: 10px 10px 25px hsl(0, 3%, 49%);
    transition: box-shadow 0.3s ease-in-out;
}

@media screen and (min-width: 800px){
    .index-main {
        flex-direction: row;
        justify-content: center;
    }

    .card-wrapper {
        width: 40vw;
        height: 50vh;
    }

    .img-home{
        width: 200px;
        height: 200px;
        margin: auto;
        display: block;
        overflow: hidden;
    }
    .card-main .card-header {
        margin-left:0;
    }

    .card {
        width: 40vw;
        height: 50vh;
      
    }
}

