header {
    background: #18F2B2;
    width: 100vw;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-beteween; 
}

body {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.social-media {
    display: flex;
}

.gadgets {
    padding-right: 20px;
}

.gadgets:hover{
    transform: scale(1.5);
    color: white;
   
}

a:hover{
    color: white;
}

a{
    color: black;
}

h1 {
    font-family: cursive;
    text-align: center;
    text-decoration-color: linear-gradient(90deg, #ff8a00, #e52e71);
    font-size: 40px;
}